{% extends 'accounts/main.html' %}

{% block title %}
 Products
{% endblock %}



{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Update Order </h5>
        </div>
        
        <div class="card card-body">
            <table class="table">
                
                <tr>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Price</th>
                </tr>
                
                <tr>
                    <td>{{ order.product }}</td>
                    <td>{{ order.product.category }}</td>
                    <td>{{ order.product.price }}</td>
                </tr>
             
          
            </table>    
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}